body {
  margin: auto;
  max-width: 800px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  cursor: pointer;
}

.app-wrapper {
  padding: 40px;
  margin: auto;
  max-width: 800px;
}

.add-wallet form {
  display: flex;
  justify-content: space-between;
}

.add-wallet input {
  font-size: 22px;
  flex-grow: 1;
}

.add-wallet button {
  font-size: 22px;

  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.row {
  padding: 10px;
  border: 1px solid #999;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

.age-warning svg {
  cursor: auto;
}

.age-warning {
  padding: 10px;
  border-radius: 4px;
  background-color: #ff000057;
  color: darkred;
  margin-bottom: 10px;
}

.exchange-pannels {
  display: flex;
}

.editor,
.currency {
  padding: 6px;
  border: 1px solid darkgrey;
  border-radius: 4px;
}

.editor {
  flex-basis: 50%;
  margin-right: 10px;
}
.editor svg {
  margin-right: 10px;
  margin-bottom: 10px;
}

.exchange-rate {
  margin: 0;
}

.currency {
  flex-basis: 50%;
}

.favorite {
  margin-top: 10px;
  text-align: right;
}

.favorite span {
  margin-right: 10px;
}

.sort-by-fav svg {
  margin-right: 5px;
}

.sort-by-fav {
  cursor: pointer;
  margin-top: 20px;
}
